@import '../../sass/utils/container';
@import '../../sass/utils/mixins';
@import '../../sass/utils/variables';

.wrapperContacts {
  margin: 0 100px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
  border-top: 4px solid rgba(255, 255, 255, 0.4);
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.description {
  color: #c0c0c0;
}

.adress {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #c0c0c0;
}

.link {
  text-decoration: none;
  color: #c0c0c0;
}

.wrapper {
  display: flex;
  gap: 90px;
}

.subtitle {
  color: #c0c0c0;
  margin-bottom: 15px;
  font-size: 17px;
}

.item:not(:last-child) {
  margin-bottom: 10px;
}

.containerInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  border-top: 4px solid rgb(255, 255, 255);
}

.input {
  width: 350px;
  height: 40px;
  border-radius: 10px;
  border: 0;
}

.wrapperSvg {
  position: absolute;
  left: 87%;
}

.list {
  display: flex;
  gap: 10px;
}
