@import '../../sass/utils/container';
@import '../../sass/utils/mixins';

.containerAbout {
    margin-left: 60px;
    border-left: 4px solid rgba(255, 255, 255, 0.4);
    padding-right: 75px;
}

.title {
    font-size: 3.2em;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 110px;
    word-spacing: 0.1em;
    border-bottom: 4px solid rgba(255, 255, 255, 0.4);
}

.wrapper {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 70px;
}

.image {
    padding: 0 90px;
}

.list {
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.wrapperSubtitle {
    margin-left: 60px;
    border-left: 4px solid rgba(255, 255, 255, 0.4);
}

.subtitle {
    margin-bottom: 90px;
    padding-top: 30px;
    text-align: center;
    word-spacing: 0.1em;
    border-top: 4px solid rgba(255, 255, 255, 0.4);
}